<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Students view</title>
</head>
<body>
<h1>Students</h1>

<table>
    <thead>
    <tr>
        <td>
            Student id
        </td>
        <td>
            Student first name
        </td>
        <td>
            Student last name
        </td>
    </tr>
    </thead>
    <tbody th:each="s : ${students}">

    <tr>
        <td th:text="${s.studentId}"></td>
        <td th:text="${s.firstName}"></td>
        <td th:text="${s.lastName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>